/* .spot_image{
  height: 200px;
  width:200px;
}

.spot_buttons{
  display: flex;
}

.delete_button{
  margin-left: 20px;
}

.edit_spot_content{
  font-weight: bolder;
}


.spot-detail-image-background{
background-color: gray;
}
main{
  background-color: gray;
} */
