.signup_body{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #ff385c;
  font-weight: bolder;
  color: white;
 }

 .signup_button{
  color:white;
  font-weight: bolder;
  background-color: #ff385c;
 }

 .signup_button:hover{
  color:#ff385c;
  background-color: white;
  cursor: pointer;
 }

.signup_form{
  display: flex;
  flex-direction: column;
  border: solid white;
}

.signup_logo{
  object-fit: contain;
  height: 150px;
}

 input[type=text],[type=password],[type=number]{
  display: block;
  background-color:white;
  color:#ff385c;
  font-weight: bolder;
  border:2px solid rgba(25,25,25);
  cursor:pointer;
 }
