/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap");
*{
  margin:0;
}

/* body{
  background-color: #fff;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
} */

:root{
  --black: #000;
  --gray: #ddd;
  --white: #ffffff;
  --theme: #ff385c;
}

body{
  /* font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; */
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  }

   input[type=text],[type=password],[type=number]{
  display: block;
  background-color:white;
  color:#ff385c;
  font-weight: bolder;
  cursor:pointer;
 }

 li{
  color:#ff385c
 }
