
 /* input[type=text],[type=password]{
  display: block;
  background-color:black;
  color:#ff385c;
  font-weight: bold;
  border:2px solid rgba(25,25,25);
 } */

 .loginBody{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #ff385c;
  color: white;

 }

 .login_buton{
  color:white;
  font-weight: bolder;
  background-color: #ff385c;
  cursor: pointer;
  border: 2px groove white;
  
 }

 /* .demo_button{
  color:white;
  font-weight: bolder;
  background-color: #ff385c;
  cursor: pointer;
  width:100px
} */


 /* .login_buton:hover{
  color:#ff385c;
  background-color: white;
  cursor: pointer;
 } */

.login_form{
  display: flex;
  flex-direction: column;
  border: solid white;
}

.login_logo{
  background-color: white;
}

.login_logo{
  object-fit: contain;
  height: 150px;
}

.username_email{
  font-weight: 800;
  font-size: 18px;
  color: white;
}

.passWord{
  font-weight: 800;
  font-size: 18px;
  color: white;
}
